AWS_SECRET_ACCESS_KEY=..
NEXT_PUBLIC_REGION=..
HASH_SECRET_KEY=..
NEXT_PUBLIC_STAGE=..
NEXT_PUBLIC_NODE_ENV=..
NEXT_PUBLIC_BASE_URL=..
AUTH_SECRET=..
NEXT_PUBLIC_DOMAIN=..
NEXT_SST_VERSION=..
BETTER_AUTH_SECRET=..
BETTER_AUTH_URL=..

APS_ACCESS_CODE=..
APS_MERCHANT_IDENTIFIER=..
APS_SHA_REQUEST_PHRASE=..
APS_SHA_RESPONSE_PHRASE=..
SUBSCRIPTION_FEE_AED=-..
SUBSCRIPTION_DURATION_DAYS=..